p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.digression, .more, .exercise, .goals {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 2rem 0;
  border: none;
  border-radius: 3px 10px 10px 3px;
}

div.more {
  background: #DEF0D3;
  border-left: 5px solid #7E9D6A;
}

div.exercise {
  background: #F0E9D3;
  border-left: 5px solid #F0D26F;
}

div.digression {
  background: #EFD1D3;
  border-left: 5px solid #CD4E56;
}

div.goals {
  background: #D3E5E5;
  border-left: 5px solid #437A7C;
}
