@font-face {
    font-family: 'Londrina Solid';
    src: url(webfonts/LondrinaSolid-Black.ttf) format('truetype');
}


:root {
  --main-color: #507b9c;
  --link-color: #E79D2E;
  --link-color-active: #F69B6A;
  --title-color: #355269;
}

.body {
  letter-spacing: unset;
}

.book .book-body .page-wrapper .page-inner section.normal {
  line-height: 1.8;
}

.book.font-size-2 .book-body .page-inner section {
  font-size: 1.8rem;
}

.book.font-family-1 {
  font-family: 'Junction', sans-serif;
  font-feature-settings: "aalt", "kern", "liga", "clig";
}

.title {
  font-family: 'Londrina Solid', 'Junction', sans-serif;
  font-size: 7.5em !important;
  margin-top: 0.2em !important;
  line-height: normal;
  font-weight: 900;
  background-image: linear-gradient(0deg, var(--main-color), var(--title-color));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 }

 .book .book-body .page-wrapper .page-inner section.normal #header em {
  font-style: normal;
  color: var(--title-color);
}

 p.author {
  font-size: 1.5em;
 }

.book-header > h1 {
  font-variant-caps: all-small-caps;
}

.subtitle {
  color: #3E9FB3;
}

h1 {
  font-size: 3em !important;
  color: var(--main-color);
}

h2, h3 {
  color: #E3AC5A;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: var(--link-color);
  transition: color 200ms;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: var(--link-color-active);
  text-decoration: underline;
}

.summary a:hover {
  color: var(--link-color-active) !important;
  text-decoration: none;
}

.book .book-summary ul.summary li.active>a {
  color: var(--link-color);
  font-weight: 600;
  text-decoration: none;
}

.book .book-summary {
  background: none;
  border-right: none;
}

.summary{
font-family: 'Junction', sans-serif;
}

.footnotes {
  font-size: 0.85em;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.figure > img {
  border-radius: 5px;
}

.more, .exercise, .goals, .warning {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 2rem 0;
  border: none;
  border-radius: 3px 10px 10px 3px;
}

div.draftinfo {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 2rem 0;
  border: 3px dashed #e3ac5a;
  border-radius: 10px;
  background: #f3eacb;
  color: #704214;
}

div.warning {
  border-left: 5px solid #953239;
  background: #CD4E56;
  color: #FBFAFA;
}

div.goals {
  background: #D3E5E5;
  border-left: 5px solid #437A7C;
}

div.more {
  background: #DEF0D3;
  border-left: 5px solid #7E9D6A;
}

.book .book-body .page-wrapper .page-inner section.normal div.more a {
    color: #649e77;
}

.book .book-body .page-wrapper .page-inner section.normal div.more a:hover {
    color: #40a070;
}

div.exercise {
  background: #F0E9D3;
  border-left: 5px solid #F0D26F;
}

.csl-entry {
  margin-bottom: 2em;
}

// answers for challenges

div.answer {
}

$details-padding: 1em;

details {
  border-radius: 3px 10px 10px 3px;
  border-left: 5px solid #E3AC5A;
  background: #F7F6F5;
  box-shadow: -5px 6px 4px #29210921;
	margin: 1em 0;

	.summary-title {
		user-select: none;
		font-weight: bold;
	}

	&:hover {
		cursor: pointer;
	}

	.content {
		border-top: 0;
		cursor: default;
		padding: 0.5em 1em;
	}

	summary {
		list-style: none;
		padding: $details-padding;

		&:focus {
			outline: none;
		}

		&:hover .summary-chevron svg {
			color: #222;
		}

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.summary-chevron {
		pointer-events: none;

		svg {
			transition: transform 300ms ease;
			display: block;
			color: #ccc;
		}
	}
}

details[open] > summary .summary-chevron svg {
	transform: rotate(180deg)
}

summary::marker {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}

